@use "variables";

@mixin reset {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin texto($size: 16px, $color: variables.$color-text, $align: left) {
  font-size: $size;
  color: $color;
  text-align: $align;
  line-height: 1.6;
}

@mixin responsive-text($max-size, $min-size) {
  font-size: $max-size;
  @media (max-width: 768px) {
    font-size: $min-size;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@mixin animar-aparecer($duracion: 1s, $easing: ease-out, $modo: both) {
  animation: aparecer $duracion $easing $modo;
}
