$font-main: "Playfair Display", serif;
$font-secondary: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
$color-primary: #d69846;
$color-footer: #e8e4d9;
$color-text: #333;
$color-highlight: burlywood;
$color-background: wheat;
$color-menu: #8b5e3c;
$color-border: #c1a57b;
$spacing-default: 10px;
$radius: 10px;
$shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
